In [2]:
import pandas as pd
groups =["modern web","devops","cloud","big data","sec","挑戰"]
ironmen=[59,9,19,14,6,77]
ironmen_dict={
                "groups":groups,
                "ironmen":ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  modern web       59
1      devops        9
2       cloud       19
3    big data       14
4         sec        6
5          挑戰       77

In [3]:
print(ironmen_df.ndim)
print(ironmen_df.shape)
print(ironmen_df.dtypes)

2
(6, 2)
groups     object
ironmen     int64
dtype: object

In [4]:
print(ironmen_df.sum())
print(ironmen_df.ironmen.sum())
print(ironmen_df.mean())
print(ironmen_df.median())
print(ironmen_df.describe())

groups     modern webdevopscloudbig datasec挑戰
ironmen                                   184
dtype: object
184
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [6]:
import pandas as pd
import numpy as np
groups =["modern web","devops",np.nan,"cloud","big data","sec","挑戰"]
ironmen=[59,9,19,14,6,77,np.nan]
ironmen_dict={
                "groups":groups,
                "ironmen":ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df.loc[:,"groups"].isnull())
print(ironmen_df.loc[:,"ironmen"].notnull())

0    False
1    False
2     True
3    False
4    False
5    False
6    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: ironmen, dtype: bool

In [20]:
a=ironmen_df.dropna()
b=ironmen_df.fillna(0)
ironmen_df.ironmen.fillna(ironmen_df.ironmen.mean())

modern web    59
devops         9
cloud         19
big data      14
sec            6
挑戰            77
Name: ironmen, dtype: int64

In [14]:
import pandas as pd
groups =["modern web","devops","cloud","big data","sec","挑戰"]
ironmen=[59,9,19,14,6,77]
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)
ironmen_df.sort_index()

            ironmen
big data         14
cloud            19
devops            9
modern web       59
sec               6
挑戰               77